#menus{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
}
#resultado{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  width:100%;
  height:80%;
}
#generarJson{
  margin:25px;
}
#resultadoArea{
  width:90%;
  resize:none;
  overflow-Y:scroll;
}
#vistaPrevia{
  width:30%;
  background:white;
   margin:20px;
   background:rgba(255,255,255,0.5);
}
#generador{
  width:50%;
  background:rgba(255,255,255,0.5);
  margin:20px;
}
p{
  text-align:center;
  font-size:30px;
  padding:10px;
  
}
#inputs{
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-webkit-justify-content:center;
    -ms-flex-pack:center;
        justify-content:center;
}
.trumbowyg-editor{
  background:white;
}
.bloque{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
     -ms-flex-direction:column;
         flex-direction:column;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:20px;
}
.none{
  display:none;
}
button{
  font-size:30px;
  padding:5px;
  border:0px;
  cursor:pointer;
  background:darkgrey;
  margin-bottom:20px;
  
}
.button{
  font-size:30px;
  padding:5px;
  border:0px;
  cursor:pointer;
  background:darkgrey;
  margin-bottom:20px;
  
}
#addSteep:hover{
  background:white;
}
